*~
*.o
*.out
*.tar.gz
/apr-1.5.1/
/apr-util-1.5.3/
/binaries/apr/
/binaries/cmockery/
/binaries/curl/
/binaries/papi/
/binaries/likwid/
/binaries/plugins/
/likwid-3.1.3/
/curl-7.37.0/
/inih_r29/
/papi-5.4.0/
/apr-1.5.1.tar.gz
/apr-util-1.5.3.tar.gz
/curl-7.37.0.tar.gz
/papi-5.4.0.tar.gz
/likwid-3.1.3.tar.gz
/inih_r29.zip
/mf
/.project
/client/parser/*.a
/client/parser/test/test
/client/publisher/*.a
/client/publisher/test/test
/likwid-latest
/likwid-read-only
/binaries/tmp_pid
/client/contrib/parser/*.so
/client/plugins/likwid/mf_likwid
/client/plugins/papi/lib/*.so
/client/plugins/papi/mf_papi_client
/client/benchmarks/database_access_latency
/client/benchmarks/log/*
/client/lib/*.so
/client/api/doc/*
/client/plugins/likwid/lib/*.so
/client/plugins/likwid/likwid/lib/*.so
/*.save
/client/plugins/rapl/lib/mf_plugin_rapl.so
/client/plugins/likwid/liblikwid.so
/scripts/evaluation/
/client/api/test/lib/libmf.so
/client/api/test/lib/libparser.so
/client/api/test/lib/libpublisher.so
/client/api/test/mf_test
/client/plugins/rapl/mf_rapl_client
/client/plugins/vmstat/lib/mf_plugin_vmstat.so
/client/plugins/vmstat/mf_vmstat_client
