*~
*.o
*.out
*.tar.gz
/apr-1.5.1/
/apr-util-1.5.3/
/binaries/apr/
/binaries/cmockery/
/binaries/curl/
/binaries/papi/
/likwid-3.1/
/curl-7.37.0/
/papi-5.4.0/
/apr-1.5.1.tar.gz
/apr-util-1.5.3.tar.gz
/curl-7.37.0.tar.gz
/papi-5.4.0.tar.gz
/.project
