<!DOCTYPE html>
<html>
 <head>   
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dynatable.css"/>
    <script type='text/javascript' src="/javascripts/jquery.js"></script>
    <script type='text/javascript' src="/javascripts/jquery.dynatable.js"></script>
    <script type="text/javascript" src='/javascripts/global.js'></script>

 </head>
  
<table id="detail" class="table table-bordered">
  <thead>
    <tr>
      <th style="display: none">id</th>
      <th data-dynatable-column="Name">Name of the execution</th>
      <th data-dynatable-column="Description">Description</th>
      <th data-dynatable-column="Detail">Detail</th>
    </tr>
  </thead>
  <tbody> 
 </tbody>
</table>

