 <head>   

    <!-- CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/jquery.dynatable.css" rel="stylesheet"/>

    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.dynatable.js'></script>
    <script type="text/javascript" src='/javascripts/global.js'></script>
 </head>
  
<h1>Welcome to <%= title %>!</h1>

<table id="executions">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Nodes</th>
    </tr>
  </thead>
  <tbody> 
 </tbody>
</table>

<br>
<br>
<table id="executions-detail">
  <thead>
    <tr>
      <th>timestamp</th>
      <th>cpu_load</th>
      <th>time_cpu_waiting_io</th>
    </tr>
  </thead>
  <tbody> 
 </tbody>
</table>
